<div class="container">
    <div class="row">
        <div class="col-5 mx-auto">
            <h3 class="bg-primary text-white p-3 text-center">
                {{getName()}}'s ToDo List
            </h3>
            <div class="input-group mb-3">
                <input type="text" 
                        class="form-control"
                        (keyup.enter)="addItem();" 
                        [(ngModel)]="inputTxt">

                <button class="btn" (click)="addItem();" 
                        [class]="getBtnClasses()">Add</button>
            </div>
            <div class="form-check mb-3">
                <input 
                type="checkbox" 
                [(ngModel)]="displayAll" 
                class="form-check-input" 
                name="" id="displayAll" 
                ngModel="inputText">

                <label for="displayAll" 
                class="form-check-label">Hepsini Göster</label>
            </div>
            <div class="my-2">
                {{displayCount()}}
            </div>
            <ng-template #itemTable>
                <table class="table table-bordered table-hover" 
                        *ngIf="getItems().length>0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of getItems(); let i=index" 
                            [class]="{'bg-primary':item.action, 'bg-warning': !item.action}">
                            <td>{{i+1}}</td>
                            <td>{{item.description}}</td>
                            <!-- <td>{{item.action}}</td> -->
                            <td>

                                <!-- if blogu -->
                                <!-- <div *ngIf="item.action">Yes</div>
                                <div *ngIf="!item.action">No</div> -->


                                <!-- switch blogu -->
                                <!-- <div [ngSwitch]="item.action">
                                    <div *ngSwitchCase="true">Yes</div>
                                    <div *ngSwitchDefault>No</div>
                                </div> -->


                                <!-- if-else blogu -->
                                <div *ngIf="item.action; else noTemplate">Yes</div>
                                <ng-template #noTemplate>No</ng-template>

                              

                            </td>
                            <td><input 
                                type="checkbox" [(ngModel)]="item.action" 
                                name="" 
                                id=""
                                (change)="onActionChanged(item)"></td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>


            <div class="alert alert-warning" 
                *ngIf="getItems().length <= 0 else itemTable">Yapılacak görev yok</div>
        </div>
    </div>
</div>